html
  height 100%

body
  display flex
  flex-direction column
  width 100%
  height 100%

header
  padding 0 1em 1em 1em

  #progress
    margin-bottom 1em

  #status
    margin-bottom 1em

#output
  flex 1
  font-size 1.2em
  color lightgreen
  background-color black
  padding 0 1em
  overflow-y scroll

  p.blue
    color lightsteelblue

  p.yellow
    color gold
